{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block body %}
    <div class='flex sm:py-10 sm:px-20 md:py-20 md:px-40 px-0 py-0 sm:h-[calc(100vh-5rem)] h-[calc(100vh-5rem)]'>
        <div id='nuts' class='lg:flex hidden h-full w-1/2 shadow-2xl bg-cover rounded-l' style='background-image: url(assets/images/nuts.png)'>
        </div>
        <div class='flex h-full lg:w-1/2 w-full bg-white shadow-2xl rounded-r py-5 px-10 md:py-10 md:px-20'>
            <form method='post' class='flex flex-col w-full gap-6 m-auto'>
                {% if error %} <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>{% endif %}

                {% if app.user %}
                    <div class=''>You are logged in as {{ app.user.userIdentifier }}, <a href='{{ path('app_logout') }}'>Logout</a></div>
                {% endif %}

                <h2 class='uppercase font-bold text-[1.5rem]'>sign in</h2>
                <input class='border-b-2 border-violet-600 outline-0 h-10' type='email' value='{{ last_username }}' placeholder='Email' name='email' id='inputEmail' class='form-control' autocomplete='email' required autofocus>
                <input class='border-b-2 border-violet-600 outline-0 h-10' type='password' name='password' id='inputPassword' placeholder='Password' class='form-control' autocomplete='current-password' required>
                <input type='hidden' name='_csrf_token' value='{{ csrf_token('authenticate') }}'>
                <button class='bg-violet-600 h-10 rounded text-white font-semibold w-32 transition hover:bg-white border-2 hover:text-violet-600 hover:border-violet-600' type='submit'>Login</button>
                <p class='hover:cursor-pointer'>You don't have an account? <a href='{{path('app_register')}}' class='text-violet-600'>Register</a></p>
            </form>
        </div>
    </div>
{% endblock %}