{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class='flex sm:py-10 sm:px-20 md:py-20 md:px-40 px-0 py-0 sm:h-[calc(100vh-5rem)] h-[calc(100vh-5rem)]'>
        <div class='flex h-full lg:w-1/2 w-full bg-white shadow-2xl rounded-l py-5 px-10 md:py-10 md:px-20'>
            <form method='post' class='flex flex-col w-full gap-6 m-auto'>

                <h2 class='uppercase font-bold text-[1.5rem]'>register</h2>
    
                {{ form_start(registrationForm) }}
                    {{ form_widget(registrationForm.email) }}
                    {{ form_widget(registrationForm.plainPassword) }}
                    
                    <button class='bg-violet-600 h-10 rounded text-white transition font-semibold w-32 hover:bg-white border-2 hover:text-violet-600 hover:border-violet-600' type='submit'>Register</button>
                    <p class='hover:cursor-pointer'>You already have an account? <a href='login' class='text-violet-600'>Sign in</a></p>
                {{ form_end(registrationForm) }}
                <input type='hidden' name='_csrf_token' value='{{ csrf_token('authenticate') }}'>
            </form>
        </div>

    <div id='cherries' class='lg:flex hidden h-full w-1/2 shadow-2xl bg-cover rounded-r' style='background-image: url(assets/images/cherries.png)'>

    </div>
{% endblock %}
