{% extends 'base.html.twig' %}

{% block title %}JobTypes{% endblock %}

{% block body %}
    <h1>JobTypes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job_type.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ job_type.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_job_types_index') }}">back to list</a>

    <a href="{{ path('app_job_types_edit', {'id': job_type.id}) }}">edit</a>

    {{ include('dashboard/crud/job_types/_delete_form.html.twig') }}
{% endblock %}
