{% extends 'base.html.twig' %}

{% block title %}
	Back Office | Secteur
{% endblock %}

{% block body %}
{% embed "components/table.html.twig" %}
	{% set id = 'data-table-sector' %}
	{% set path = "{{ path('app_sector_new') }}" %}
	{% block tableTitle %}
		<h1>Secteur</h1>
	{% endblock %}
	{% block th %}
		<th class="px-6 py-3">Id</th>
		<th class="px-6 py-3">Name</th>
		<th class="px-6 py-3">Région</th>
		<th class="px-6 py-3">Actions</th>
	{% endblock %}
	{% block tbody %}
		{% for sector in sectors %}
			<tr class="bg-white dark:bg-gray-800 dark: hover:bg-gray-50 dark:hover:bg-gray-200">
				<td class="px-6 py-4">{{ sector.id }}</td>
				<td class="px-6 py-4">{{ sector.name }}</td>
				
				
				<td class="px-6 py-4">{% if sector.region == 1 %}Oui{% endif %}</td>
				<td class="px-6 py-4 flex gap-4">
					<a href="{{ path('app_sector_show', {'id': sector.id}) }}">
						<i class="fa-solid fa-eye"></i>
					</a>
					<a href="{{ path('app_sector_edit', {'id': sector.id}) }}">
						<i class="fa-solid fa-pen-to-square"></i>
					</a>
					{{include('dashboard/crud/sector/_delete_form.html.twig')}}
				</td>
			</tr>
		</td>

	{% else %}
		<tr>
			<td colspan="3">Aucune donnée</td>
		</tr>
	{% endfor %}
{% endblock %}
{% block button %}
	<a class='bg-violet-600 h-10 rounded text-white font-semibold hover:bg-white border-2 px-2 py-1 w-32 hover:text-violet-600 hover:border-violet-600 transition text-center' href="{{ path('app_sector_new') }}">Ajouter</a>
{% endblock %}{% endembed %}{% endblock %}
