{% extends 'base.html.twig' %}

{% block title %}
	{% if app.user.id == user.id %}
		Votre profil
	{% elseif app.user.role == 'Recruteur' or app.user.role == 'Administrateur'%}
		Profil de
		{{user.firstname}}
		{{user.lastname}}
	{% endif %}
{% endblock %}

{% block body %}
	{% if app.user.id == user.id %}
		{{myProfil.id}}
		{{myProfil.email}}
		{{myProfil.role}}
		{{myProfil.firstname}}
		{{myProfil.lastname}}
	{% elseif app.user.role == 'Recruteur' or app.user.role == 'Administrateur'%}
  {{myProfil.id}}
		{{myProfil.email}}
		{{myProfil.role}}
		{{myProfil.firstname}}
		{{myProfil.lastname}}
    <h2>test</h2>
    {% else %}
    <h2>test2</h2>
		<h1>This is not your profile</h1>
	{% endif %}
{% endblock %}
