{% extends 'base.html.twig' %}

{% block title %}
	Back Office | Annonces
{% endblock %}

{% block body %}
	{% embed "components/table.html.twig" %}
		{% set id = 'data-table-jobtypes' %}
		{% block tableTitle %}
			<h1>Annonce de travail</h1>
		{% endblock %}
		{% block th %}
			<th class="px-6 py-3">Id</th>
			<th class="px-6 py-3">Title</th>
			<th class="px-6 py-3">Description</th>
			<th class="px-6 py-3">Link</th>
			<th class="px-6 py-3">Sector</th>
			<th class="px-6 py-3">Salary</th>
			<th class="px-6 py-3">Contract_type</th>
			<th class="px-6 py-3">Recruteur</th>
			<th class="px-6 py-3">Entreprise</th>
			<th class="px-6 py-3">Created_at</th>
			<th class="px-6 py-3">Start</th>
			<th class="px-6 py-3">End</th>
			<th class="px-6 py-3">Actions</th>
		{% endblock %}
		{% block tbody %}
			{% for job in jobs %}
				<tr class="bg-white dark:bg-gray-800 dark: hover:bg-gray-50 dark:hover:bg-gray-200">
					<td class="px-6 py-4">{{ job.id }}</td>
					<td class="px-6 py-4">{{ job.title }}</td>
					<td class="px-6 py-4">{{ job.description }}</td>
					<td class="px-6 py-4">{{ job.link }}</td>
					<td class="px-6 py-4">{{ job.sector }}</td>
					<td class="px-6 py-4">{{ job.salary }}</td>
					<td class="px-6 py-4">{{ job.contractType }}</td>
					<td class="px-6 py-4">{{ job.user.firstname ~ ' ' ~ job.user.lastname }}</td>
					<td class="px-6 py-4">{{ job.user.company }}</td>
					<td class="px-6 py-4">{{ job.createdAt ? job.createdAt|date('d-m-Y') : '' }}</td>
					<td class="px-6 py-4">{{ job.start ? job.start|date('d-m-Y') : '' }}</td>
					<td class="px-6 py-4">{{ job.end ? job.end|date('d-m-Y') : '' }}</td>
					<td class="px-6 py-4 flex gap-4">
						<a href="{{ path('app_job_show', {'id': job.id}) }}">
							<i class="fa-solid fa-eye"></i>
						</a>
						<a href="{{ path('app_job_edit', {'id': job.id}) }}">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
						{{include('dashboard/crud/job/_delete_form.html.twig')}}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">Aucune donnée</td>
				</tr>
			{% endfor %}
		{% endblock %}
		{% block button %}
			<a class='bg-violet-600 h-10 rounded text-white font-semibold hover:bg-white border-2 px-2 py-1 w-32 hover:text-violet-600 hover:border-violet-600 transition text-center' href="{{ path('app_job_new') }}">Ajouter</a>
		{% endblock %}
	{% endembed %}
</div>{% endblock %}
