<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta name="viewport" content="width=device-width">
		<meta charset="UTF-8"> 	
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="icon" href="{{asset("assets/images/logo.png")}}">
		{% block stylesheets %}
			{% include "components/style.html.twig" %}
		{% endblock %}

		{% block javascripts %}
			{% include "components/javascript.html.twig" %}
		{% endblock %}
	</head>

	<body>
		{% block header %}
			{% embed "components/header.html.twig" %}
				{% block error %}
					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="bg-{{label}}-100 border border-{{label}}-400 text-{{label}}-700 px-4 py-3 rounded relative" role="alert" id="errorMessage">
								<span class="block sm:inline">{{message}}</span>
								<span class="absolute top-0 bottom-0 right-0 px-4 py-3">
									<svg class="fill-current h-6 w-6 text-{{label}}-500" role="button" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
										<title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
									</svg>
								</span>
							</div>
						{% endfor %}
					{% endfor %}
				{% endblock %}
			{% endembed %}
		{% endblock %}
		{% block body %}{% endblock %}
		{% block footer %}
			{% include "components/footer.html.twig" %}
		{% endblock %}
	</body>
</html>
