{% extends 'base.html.twig' %}

{% block title %}
	Back Office | Entreprises
{% endblock %}

{% block body %}
	{% embed "components/table.html.twig" %}
		{% set title = 'Company Dashboard' %}
		{% set id = 'data-table-company' %}
		{% block th %}
			<th class="px-6 py-3">Id</th>
			<th class="px-6 py-3">Nom</th>
			<th class="px-6 py-3">Secteur</th>
			<th class="px-6 py-3">Site</th>
			<th class="px-6 py-3">Actions</th>
		{% endblock %}
		{% block tbody %}
			{% for company in companies %}
				<tr class="bg-white dark:bg-gray-800 dark: hover:bg-gray-50 dark:hover:bg-gray-200">
					<td class="px-6 py-4">{{ company.id }}</td>
					<td class="px-6 py-4">{{ company.name }}</td>
					<td class="px-6 py-4">
						{% if company.sector %}
							{{ company.sector.name }}
						{% else %}
							Aucun
						{% endif %}

					</td>
					<td class="px-6 py-4">{{ company.website }}</td>
					<td class="px-6 py-4 flex gap-4">
						<a href="{{ path('app_company_show', {'id': company.id}) }}">
							<i class="fa-solid fa-eye"></i>
						</a>
						<a href="{{ path('app_company_edit', {'id': company.id}) }}">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
						{{ include('dashboard/crud/company/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucune donnée</td>
				</tr>
			{% endfor %}
		{% endblock %}
		{% block button %}
			<a class='mx-10 bg-violet-600 h-10 rounded text-white font-semibold hover:bg-white border-2 px-2 py-1 w-32 hover:text-violet-600 hover:border-violet-600 transition text-center' href="{{ path('app_company_new') }}">Ajouter</a>
		{% endblock %}

	{% endembed %}

{% endblock %}
