{% extends 'base.html.twig' %}

{% block title %}Back Office
{% endblock %}

{% block body %}

	<div class="m-10 bg-white rounded-lg border border-gray-200 w-48 text-gray-900 text-sm font-medium">
		<a href="{{path('app_user_index')}}" class="block px-4 py-2 border-b border-gray-200 w-full hover:bg-gray-100 hover:text-violet-600 focus:outline-none focus:ring-2 focus:ring-violet-600 focus:text-violet-600 cursor-pointer">
			Users
		</a>
		<a href="{{path('app_job_index')}}" class="block px-4 py-2 border-b border-gray-200 w-full hover:bg-gray-100 hover:text-violet-600 focus:outline-none focus:ring-2 focus:ring-violet-600 focus:text-violet-600 cursor-pointer">
			Job offers
		</a>
		<a href="{{path('app_job_types_index')}}" class="block px-4 py-2 border-b border-gray-200 w-full hover:bg-gray-100 hover:text-violet-600 focus:outline-none focus:ring-2 focus:ring-violet-600 focus:text-violet-600 cursor-pointer">
			Work domains
		</a>
		<a href="{{path('app_company_index')}}" class="block px-4 py-2 border-b border-gray-200 w-full hover:bg-gray-100 hover:text-violet-600 focus:outline-none focus:ring-2 focus:ring-violet-600 focus:text-violet-600 cursor-pointer">
			Companies
		</a>
		<a href="{{path('app_sector_index')}}" class="block px-4 py-2 border-b border-gray-200 w-full hover:bg-gray-100 hover:text-violet-600 focus:outline-none focus:ring-2 focus:ring-violet-600 focus:text-violet-600 cursor-pointer">
			Sector
		</a>
	</div>
	<div class="m-10 bg-white rounded-lg border border-gray-200 w-48 text-gray-900 text-sm font-medium">
		<a href="{{path('app_user_home')}}" class="block px-4 py-2 border-b border-gray-200 w-full hover:bg-gray-100 hover:text-violet-600 focus:outline-none focus:ring-2 focus:ring-violet-600 focus:text-violet-600 cursor-pointer">
			Home User
		</a>
		<a href="{{path('app_recruiter_home')}}" class="block px-4 py-2 border-b border-gray-200 w-full hover:bg-gray-100 hover:text-violet-600 focus:outline-none focus:ring-2 focus:ring-violet-600 focus:text-violet-600 cursor-pointer">
			Home Recruiter
		</a>
	</div>
{% endblock %}
